%h1 Listing tweets

%table
  %tr
    %th Position
    %th Song
    %th Status

  - @tweets.each do |tweet|
    %tr
      %td= tweet.position
      %td
        = link_to tweet.song.name, tweet.song if tweet.song
      %td= tweet.status

