.container.content
  %h1 Song position

%table.table.table-striped
  %tr
    %th Position
    %th Song
    %th Picks
    %th Tweet

  - @tweets.each do |tweet|
    %tr
      %td= tweet.position
      %td
        = link_to tweet.song.name, song_users_path(tweet.song) if tweet.song
      %td= tweet.song.selections.length if tweet.song
      %td= tweet.status

