%h1 Player Listing
%table.table.table-striped
  %tr
    %th pos
    %th Name
    %th Score
  %tr
    %td 1
    %td
      %a#show_selections{href: "/users/23/selections"} Ryan Kelly
    %td.right
      %a{href: "/users/23/selections"} 40 selections
    %td.right 36
    %td.right 2598
  %tr
    %td 2
    %td
      %a#show_selections{href: "/users/40/selections"} Troy Adams
    %td.right
      %a{href: "/users/40/selections"} 40 selections
    %td.right 35
    %td.right 2533
  %tr
    %td 3
    %td
      %a#show_selections{href: "/users/38/selections"} Hayden
    %td.right
      %a{href: "/users/38/selections"} 40 selections
    %td.right 35
    %td.right 2525
  %tr
    %td 4
    %td
      %a#show_selections{href: "/users/26/selections"} Chris White
    %td.right
      %a{href: "/users/26/selections"} 40 selections
    %td.right 33
    %td.right 2498
  %tr
    %td 5
    %td
      %a#show_selections{href: "/users/19/selections"} Sean Kelly
    %td.right
      %a{href: "/users/19/selections"} 40 selections
    %td.right 33
    %td.right 2280
  %tr
    %td 6
    %td
      %a#show_selections{href: "/users/24/selections"} Tom Lyons
    %td.right
      %a{href: "/users/24/selections"} 40 selections
    %td.right 31
    %td.right 2113
  %tr
    %td 7
    %td
      %a#show_selections{href: "/users/29/selections"} gilly
    %td.right
      %a{href: "/users/29/selections"} 40 selections
    %td.right 26
    %td.right 1847
\  %tr
    %td 8
    %td
      %a#show_selections{href: "/users/30/selections"} Alex Paterson
    %td.right
      %a{href: "/users/30/selections"} 40 selections
    %td.right 25
    %td.right 1629
  %tr
    %td 9
    %td
      %a#show_selections{href: "/users/34/selections"} Nathan
    %td.right
      %a{href: "/users/34/selections"} 40 selections
    %td.right 20
    %td.right 1488
  %tr
    %td 10
    %td
      %a#show_selections{href: "/users/39/selections"} Tammy White
    %td.right
      %a{href: "/users/39/selections"} 40 selections
    %td.right 20
    %td.right 1424
  %tr
    %td 11
    %td
      %a#show_selections{href: "/users/25/selections"} Susan Kelly
    %td.right
      %a{href: "/users/25/selections"} 40 selections
    %td.right 19
    %td.right 1267
  %tr
    %td 12
    %td
      %a#show_selections{href: "/users/18/selections"} Nigel
    %td.right
      %a{href: "/users/18/selections"} 40 selections
    %td.right 19
    %td.right 1247
  %tr
    %td 13
    %td
      %a#show_selections{href: "/users/35/selections"} Chris B
    %td.right
      %a{href: "/users/35/selections"} 40 selections
    %td.right 5
    %td.right 295
  %tr
    %td 14
    %td
      %a#show_selections{href: "/users/36/selections"} Alan Harper
    %td.right
      %a{href: "/users/36/selections"} 40 selections
    %td.right 6
    %td.right 183
