html, body {
//  background: image-url('extra_clean_paper.png');
}

h1 {
  font-family: Enriqueta;
  text-align: center;
}

h4 {
  text-align: center;
  color: #666;
  font-weight: normal;
  font-size: 16px;
  line-height: 28px;
}

.content {
  padding-top: 50px;
}